src/static/audio/music

.DS_Store

src/libraries/__pycache__
src/__pycache__/__init__.cpython-310.pyc
src/plugins/__pycache__
tools/go-cqhttp
tools/go-cqhttp/data/video.db.lock
tools/go-cqhttp/data/video.db
tools/plate_frame_index/plate
tools/plate_frame_index/frame
src/tmp
src/database
src/database/maimaidb.sqlite
src/database/user_custom.sqlite
src/libraries/__pycache__/CONST.cpython-310.pyc
src/database/mia_custom.sqlite
src/database/mia_custom.sqlite
src/database/SDGB.sqlite
src/plugins/__pycache__/mia.cpython-310.pyc
src/static/image/jacket/UI_Jacket_001410.png
src/static/image/jacket/UI_Jacket_001343.png
src/static/image/jacket/UI_Jacket_000234.png
src/plugins/__pycache__/mia.cpython-310.pyc
*.sqlite
*.pyc
